.background{
    background-color: aqua;
}
.imagem-carrossel {
    object-fit: cover;
    height: 600px;
}

.fonte-texto {
    font-family: flood-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    color:darkred;
}

.fonte-titulo-card {
    font-family: flood-std,sans-serif;
    font-size: 20px;
    color: darkblue;
}

.fonte-texto-card-footer {
    font-family: flood-std,sans-serif;
    font-size: 15px;
}
.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: darkblue;
}
h1{
    font-family: 'Indie Flower', cursive;
}
h5,p{
    color: black;
    text-shadow:5px 5px 3px gray;
    font-family: 'Indie Flower', cursive;
}
.fonte-texto-card-footer{
    font-family: 'Indie Flower', cursive;
}
.nav-link{
    font-family: 'Indie Flower', cursive;
}
.navbar-brand{
    font-family: 'Indie Flower', cursive;
}
